.container-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #AED6F1;
}

h1{
    font-size: 25px;
}

.temporal{
    text-decoration: none;
    margin: 10px;
}

button{
    margin: 10px;
    background-color: #D7BDE2;
    border: none;
    border-radius: 10px;
    cursor:pointer;
}